<a href="https://colab.research.google.com/github/hvisor/Homework_datacamp_2/blob/master/%E0%B8%82%E0%B9%89%E0%B8%AD%E0%B8%97%E0%B8%B5%E0%B9%88%201/PythonCrashCoursePart1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Quiz 1

เขียนคำสั่งคำนวณหาเศษเหลือจากการหาร 2345 ด้วย 13

In [0]:
ans1 = 2345%13

เขียนคำสั่งหาคำตอบจากการหาร 1567 ด้วย 17 โดยไม่เอาเศษส่วน

In [0]:
ans2 = 1567//17

FirstName กับ Firstname เป็นตัวแปรเดียวกันหรือไม่? <sapn style='color:red;'>**ตอบ ไม่ใช่ตัวเดียวกัน Python เป็นภาษา Case Sensitive**</span>

13Friday เป็นตัวแปรที่ถูกต้องหรือไม่? **ไม่ถูกต้อง ห้ามขึ้นต้นด้วยตัวเลข**

จง Print ผลลัพธ์ จากข้อ 1,2 โดยใช้คำสั่ง format

In [0]:
print('Answer 1 = {}'.format(ans1))

Answer 1 = 5

In [0]:
print('Answer 2 = {}'.format(ans2))

Answer 2 = 92

Quiz 2

เขียนฟังก์ชั่นไม่มีชื่อให้รับพารามิเตอร์ 1 ตัว และ ปริ้นค่านั้นหารด้วย 3

In [0]:
divide3 = lambda x: x/3

print(divide3(10))

3.3333333333333335

เขียนฟังก์ชั่นธรรมดารับค่า 4 พารามิเตอร์ และหาค่าเฉลี่ย

In [0]:
def findMean(v1, v2, v3, v4):
    return (v1+v2+v3+v4)/4
    
print(findMean(1,2,3,4))

2.5

เขียนฟังก์ชั่นไม่มีชื่อให้รับพารามิเตอร์ 3 ตัว และ หาค่าเฉลี่ย

In [0]:
Mean3 = lambda x,y,z: (x+y+z)/3

print(Mean3(11,22,33))

22.0

Quiz 3

สร้างลิสต์ระบุชื่อ นามสกุล อายุ ตัวเอง

In [0]:
myInfo = ['Kaweewat','Kaewasa',45]
myInfo

['Kaweewat', 'Kaewasa', 45]

ลบอายุออกจากลิสต์

In [0]:
myInfo = ['Kaweewat','Kaewasa',45]
del myInfo[2]
myInfo

['Kaweewat', 'Kaewasa']

ลดอายุตัวเอง 10 ปี และแทรกไว้หน้าสุดของลิตส์

In [0]:
myInfo = ['Kaweewat','Kaewasa',45]
del myInfo[2]
myInfo.insert(0,35)
myInfo

[35, 'Kaweewat', 'Kaewasa']

เพิ่มส่วนสูง น้ำหนักลงในลิตส์ โดยไปต่อท้าย

In [0]:
myInfo = ['Kaweewat','Kaewasa',45]
del myInfo[2]
myInfo.insert(0,35)
myInfo.append(167)
myInfo.append(70)
myInfo

[35, 'Kaweewat', 'Kaewasa', 167, 70]

Print สมาชิกในลิสต์ตัวที่ 3 ถึงตัวสุดท้าย

In [0]:
print(myInfo[2])
print(myInfo[3])
print(myInfo[4])

print(myInfo[2], myInfo[3], myInfo[4])

Kaewasa
167
70
Kaewasa 167 70

Quiz 4

a = [[[1,3],[3,4]],[5,[5,6],[7,8]]] แล้ว a[1][1][1] คือค่าใด

In [0]:
a = [[[1,3],[3,4]],[5,[5,6],[7,8]]] 
print(a[1][1][1])

6

เขียนชื่อนามสกุลอายุอยู่ในลิสต์เดียวของคน 4 คนแล้วไว้ในลิสต์ (Nested List) และแสดงผล

In [0]:
person1 = ['Name A','Last A',10]
person2 = ['Name B','Last B',20]
person3 = ['Name C','Last C',30]
person4 = ['Name D','Last D',40]
person_all = [person1, person2, person3, person4]
print(person_all)

[['Name A', 'Last A', 10], ['Name B', 'Last B', 20], ['Name C', 'Last C', 30], ['Name D', 'Last D', 40]]

ลบคนสุดท้ายของลิสต์นั้นออกและแสดงผล

In [0]:
del person_all[len(person_all)-1]
print(person_all)

[['Name A', 'Last A', 10], ['Name B', 'Last B', 20], ['Name C', 'Last C', 30]]

เพิ่มคนที่ 5 เข้ามาเป็นคนแรกของ Nested List และแสดงผล

In [0]:
person5 = ['Name E','Last E',50]
person_all.insert(0,person5)
print(person_all)

[['Name E', 'Last E', 50], ['Name A', 'Last A', 10], ['Name B', 'Last B', 20], ['Name C', 'Last C', 30]]

แก้ไขน้ำหนักคนที่สอง +10 และแสดงผล

In [0]:
person_all[1][2] = person_all[1][2] + 10
print(person_all)

[['Name E', 'Last E', 50], ['Name A', 'Last A', 20], ['Name B', 'Last B', 20], ['Name C', 'Last C', 30]]

Quiz 5

กำหนดให้ lst = [1,2,3,4,5,6,7,8,9,10] จงเขียน Map เพื่อหาเลขยกกำลังสามทั้งหมดของ lst ในรูปแบบ Lambda Function และ ฟังก์ชั่นธรรมดา

In [0]:
lst = [1,2,3,4,5,6,7,8,9,10]
result = map(lambda x: x**3, lst)
print(list(result))

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [0]:
lst = [1,2,3,4,5,6,7,8,9,10]
def func(x):
    return x**3
print(list(map(func,lst)))

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

กำหนดให้ lst = [1,2,3,4,5,6,7,8,9,10] จงเขียน Filter เพื่อหาเลขใดในลิสต์เมื่อยกกำลังสองแล้วหารสองไม่ลงตัว ในรูปแบบ Lambda Function และ ฟังก์ชั่นธรรมดา

In [0]:
lst = [1,2,3,4,5,6,7,8,9,10]
result = filter(lambda x:((x**2)%2 != 0),lst)
print(list(result))

[1, 3, 5, 7, 9]

In [0]:
lst = [1,2,3,4,5,6,7,8,9,10]
def func(x):
    # return ((x**2)%2 != 0)
    if((x**2)%2 != 0):
        return x
print(list(map(func,lst)))

[1, None, 3, None, 5, None, 7, None, 9, None]

test